{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie9 ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>Big Sis | Consent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="{{self.social_media_description}}"/>
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/big-sis.png"/>
  <meta name="theme-color" content="#ffffff"/>
  <meta property="og:description" content="{{self.social_media_description}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Big Sis | Consent"/>
  <meta property="og:image" content="{{request.site.root_url}}{% static 'img/big-sis.png' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="all">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102588170-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-102588170-7');
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5Z7F4N9');
  </script>
  <!-- End Google Tag Manager -->

</head>
<body>
  <div class="header">
    <div class="description">
    	<img alt="Big Sis" src="{% static 'img/big-sis.png' %}" width="100" height="100" class="description__logo"/>
    	<h3 class="description__label">Big Sis Privacy Policy</h3>
  	</div>
  </div>
  {% block content %}
	  <div class="container">
	  	<div id="content" class="content">
	  		<div class="content-terms">
		  		<img alt="WhatsApp" src="{% static 'img/whatsapp2.png' %}" width="100" height="100"/>
				<h1 class="heading heading__primary">Swipe up to activate the checkbox, then tap it to accept the terms!</h1>
				<p>Big Sis by Springster is owned and operated by Girl Effect (Springster’s ‘mom’).  Big Sis collects information (“data”) about you to help improve its service and help you make the most of what Big Sis has to offer. When we collect your data, we ensure that it is kept securely and we respect your privacy at all times.</p> 
				<p>We’re committed to providing you with this security and privacy and we’re also required to do this under various laws (such as ones about Data Protection and Privacy) applicable to Girl Effect, as our data  is located in Europe.</p> 

				<h3 class="heading heading__label">INFORMATION WE MAY COLLECT FROM YOU</h3>
				<p>When you interact or talk to Big Sis, regardless of your geographical location or where ever you live, we will collect and store certain information about you. This information includes your name, age, gender and phone number.  If you submit questions, answer quizzes, participate in polls, surveys and/or competitions, we will also store that information.</p>

				<h3 class="heading heading__label">INFORMATION WE COLLECT BECAUSE YOU ARE USING BIG SIS BY SPRINGSTER</h3>
				<p>We may also collect information about which country and/or city you are using the service from, based on your Facebook Profile data. In addition, when engaging with related Springster products such as our website, through more technical methods, such as Cookies, we may also collect further information about your location (for example your village or town). (A cookie is a small text file that is downloaded onto your computer or smartphone when you access a website. It allows the website to recognise your device and store some information about your preferences or past actions). We use Cookies to keep track of things such as how many people from your general location have used the site. We will never use location information to actually locate you or find your home unless you have been specifically asked for this and have given us your explicit consent.</p>

				<p>When participating in polls, quizzes, and surveys we may ask you to share information about yourself and your life or to tell us about your opinions and your experiences. You can choose what information you’d like to share. We will use this to help us make sure we are giving Big Sis and Springster users the best service and the most useful kinds of information.</p>

				<h3 class="heading heading__label">DATA YOU MAY PROVIDE TO US WITHOUT ASKING</h3>
				<p>Sometimes, you may engage in a conversation with Big Sis. When you make comments or submit questions to Big Sis you may include information about yourself, your hobbies, family, things that have happened to you, things you would like to do, your thoughts and feelings. The information you provide is your responsibility. Please remember not to include personal information which may identify you when commenting or talking with Big Sis. We will use information provided in comments and questions to better understand what topics and stories people using Big Sis are interested in. We do this only to improve Big Sis and understand how it is used. We may also use anonymised comments and data about how Big Sis is used to let our donors and potential funders know how great Big Sis is.</p>
				<p>If you are using Big Sis on Facebook Messenger the information that you share on the chatbot will automatically be associated with your Facebook profile. This information will not be shared publicly and we will only use it to help Big Sis learn and improve how it provides you with information.</p>

				<h3 class="heading heading__label">USE OF YOUR DATA</h3>
				<p>Girl Effect staff (and those working on behalf of Girl Effect) who work on Springster or Big Sis may view your data whilst carrying out their jobs, all of whom have signed agreements confirming they will keep your information confidential and who are required to follow very strict guidelines around privacy and security. Our staff are carefully selected, trained and very committed to you as members of the Big Sis by Springster community.</p>
				<p>In addition, we sometimes work with other companies or agencies to help us develop and manage Big Sis by Springster. These “3rd parties” may also have access to your data, though their job is not to review it and they are only being allowed to see your data so that they can help us reach people in the countries we operate in the best way possible. This group of “3rd parties” will also have signed an agreement with us about confidentiality and security which covers what they can and cannot do with your information. Again, we are very careful about the selection of our 3rd parties.</p>
				<p>The third parties with whom we share data include:</p>
				<ul>
						<li>Content Partners: These partners help us write stories and create videos</li> 
						<li>Content Moderators: Consultants and or Agencies that review comments and questions to keep users safe.</li> 
						<li>Data Partners: We share data with these partners so that we can understand if Big Sis is working and to know what kinds of stories our users like and how we can improve Big Sis</li>  
						<li>Technology Partners: Praekelt.org is Big Sis’s technology partner. Praekelt helps improve Big Sis and makes sure Big Sis is reliably working for our users.</li> 
						<li>Research Partners: We share data with research partners so that they can help us understand if Big Sis is helpful for our users.</li>
				</ul> 
				<h3 class="heading heading__label">WHAT CAN YOU DO</h3>
				<p>You can ask us to completely delete all the data we have about you, this is also called your Right to be Forgotten. If you want us to delete your data, you will also need to stop using the service. If we do not have a very good reason to keep any of your information, we are happy to delete it all. However, there are times when we use your information for statistical or research purposes or to help Girl Effect achieve its goal of empowering girls. In these cases, we will remove all the factors which may identify you (also called ‘personally identifiable information’) and keep the rest for use as anonymised data (meaning that it isn’t possible to identify you). We will tell you if we do this. You can email us on dataprotection@girleffect.org to ask for your data to be deleted or if you have any other questions about your data.</p>
				<p>You can also ask to receive a copy of the data we hold about you, should we have any, or for us to correct any of the information. These are also called your Right to Access and Right to Rectification. We will try our best to respond to requests within one month of confirming your identity. Please email us on dataprotection@girleffect.org and we will send you a form to complete so we know exactly what you would like us to do.</p>
				
				<h3 class="heading heading__label">COMPLAINTS</h3>
				<p>If you are at all unhappy with the way we manage your data, you can always contact us on dataprotection@girleffect.org and we will do our best to respond to you as soon as we can, (and anyway, within a month).</p>
			</div>
		  </div>
		  <form id="terms" class="optin-form" action="" method="post">
	    {% csrf_token %}
	    	<fieldset>
	    		{{ form.checkbox }}
	  			<label id="label_for_id_checkbox" for="id_checkbox">
	  				{{ form.checkbox.label }}:
	  			</label>
	    		{{ form.uuid }}
	  		</fieldset>
		  </form>
		</div>
	{% endblock %}
	<script type="text/javascript">
		"use strict";
		const contentDiv = document.getElementById('content');
		const checkbox = document.getElementById('id_checkbox');
		const form = document.getElementById('terms');

		document.addEventListener('DOMContentLoaded',function(e){
			checkbox.disabled = true;
			checkbox.checked = false;
			contentDiv.addEventListener('scroll',function(e){
				if(e.target.scrollTop > 85) {
					checkbox.disabled = false;
				} else {
					checkbox.disabled = true;
				}
			});
			let dots = document.createElement('div');
			    dots.id = 'dots1';
			    dots.innerHTML = '<span></span><span></span><span></span><span></span>';
			checkbox.addEventListener('change', function(e){
				if (e.target.checked) {
					form.prepend(dots);
			    setTimeout(function(e){
			    	form.submit();
			    },800)  
			  } else {
			  	dots.remove();
			  }
			});
		});
	</script>
 </body>
</html>

