#consent_block {
    border: solid 1px;
}

.header {
    overflow: auto;
    padding: 10px 0;
    font: 'BatonRegular', Helvetica, Arial, sans-serif;
    border: none;
    outline: 0;
  }

* {
    outline: none;
}

body, .content  {
    background-color: #fff;
    overflow: auto;
}
.content-wrapper {
    position: relative;
}
html body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.3;
    margin: 0 auto;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html body.header body.content{
    max-width: 360px;
    margin: 0 auto;
}
img {
border: 0;
}
h1,h2,h3,h4,h5,h6 {
font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p {
margin: 0;
}